* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.musicappear {
  position: absolute;
  height: 400px;
  width: 400px;
}

.play {
 position: fixed;
  bottom: 0;
  left: 0;
  height: 90px;
  width: 100%;
  border-top: 1px solid rgba(39, 155, 190, 0.25);
  background: rgba(20, 8, 8, 0.92);
  box-sizing: border-box;
  z-index: 1000;
}

.play img {
   object-fit: cover;
  position: absolute;
  border-radius: 8px;
  left: 10px;
  top: 10px;
  width: 60px;
  height: 60px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.titulo {
  position: absolute;
  top: 20px;
  left: 85px;
  margin: 0;
  font-size: 18px;
  color: rgb(39, 155, 190);
}

.cantor {
  position: absolute;
  top: 45px;
  left: 85px;
  margin: 0;
  font-size: 12px;
  opacity: 0.9;
  color: rgb(26, 95, 116);
}

.musicappear img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  top: 50%;
  left: 80%;
  transform: translate(-110%, -0%);
  opacity: 0.5;
  z-index: 1;
}

.letras-box {
  position: absolute;
  top: 48%;
  left: 14px;
  transform: translateY(-50%);
  width: min(200vw, 650px);
  min-width: 420px;
  height: 550px;
  padding: 24px 40px;
  border-radius: 18px;
  background: rgb(16, 117, 117);
  border: 1px solid rgba(15, 125, 153, 0.08);
  box-shadow: inset 0 0 0 1px rgba(170, 175, 179, 0.02);
  overflow-y: auto;
  scroll-behavior: smooth;
}

.letras-box::-webkit-scrollbar {
  width: 0px;
}

.letras {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
  width: 100%;
  text-align: left;
  padding:20px 0 300px 0;
  box-sizing: border-box;
}

.linha-letra {
  width: 100%;
  margin: 0;
  font-size: 32px;
  line-height: 130%;
  color: rgb(8, 56, 56);
  transition: color 0.3s ease, transform 0.3s ease;
  overflow-wrap: break-word;
  word-break: break-word;
  padding: 0 15px;
  box-sizing: border-box;
  transform-origin: left center;
}

.linha-letra.ativa {
  color: #f5f5dc;
  font-weight: bold;
  transform: scale(1.02);
}

.linha-letra.passada {
  color: rgba(245, 245, 220, 0.4);
}

#playBtn {
  position: absolute;
  right: 50%;
  top: 35%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 1px 0;
  background-color: rgb(39, 155, 190);
  color: #080101;
  font-size: 20px;
  cursor: pointer;
}

.barra-container {
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  z-index: 9999;
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

#barra {
   width: 450px;
  max-width: 70%;
  cursor: pointer;
  accent-color: rgb(39, 155, 190);
}

#tempoAtual,
#tempoTotal {
  color: beige;
  white-space: nowrap;
  font-size: 14px;
}

.choseMusic h1 {
  color: beige;
}

.letra-completa-container {
  position: absolute;
  top: 49%;
  right: 14px;
  transform: translateY(-50%);
  width: min(200vw, 400px);
  height: 550px;
  padding: 24px;
  border-radius: 18px;
  background: rgba(16, 117, 117, 0.2);
  border: 1px solid rgba(15, 125, 153, 0.2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.letra-completa-container h3 {
  color: #fff;
  font-size: 1.3rem;
  margin-bottom: 15px;
  text-align: center;
  font-family: sans-serif;
}

#letraTotal {
  white-space: pre-wrap;
  font-size: 1rem;
  line-height: 1.8;
  color: #b3b3b3;
  overflow-y: auto;
  text-align: left;
  padding-right: 10px;
  font-family: sans-serif;
}

#letraTotal::-webkit-scrollbar {
  width: 6px;
}
#letraTotal::-webkit-scrollbar-thumb {
  background-color: rgb(39, 155, 190);
  border-radius: 10px;
}

.girarImagem {
  animation: girar 10s linear infinite;
}

@keyframes girar {
  from {
    transform: translate(-110%, 0) rotate(0deg);
  }
  to {
    transform: translate(-110%, 0) rotate(360deg);
  }
}
